<div class="row" id="inner-gameview">
    <div class="col-sm-12 text-center">
        <h2>Choose a Command</h2>
    </div>
    <div class="col-sm-10 box">
        <div class="row">
            <div class="col-sm-12 content">   
                <h3>Cards</h3> 
                <div class="cards">
                </div>
                <h3 class="drawnHeader">Drawn</h3> 
                <div class="drawn">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 text-center" id="commands">
    </div>
</div>
