<!doctype html>
<html>

<head>
  <title>Cards Magician</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <section id="section1" class="game padding-bottom-0">
    <div class="container">
      <h1 class="text-center v-center">Cards Game</h1>
        <div class="gameview"></div>
    </div><!--/container-->
  </section>
</body>
</html>