<div class="row" id="inner-gameview">
    <div class="col-sm-12">
        <h3>Commands</h3>
    </div>
    <div class="col-sm-12">
        <a id="sufflecards">Suffle Cards</a>
    </div>
    <div class="col-sm-12">
        <a id="shortorder">Sort order</a>
    </div>
   <hr />
    <div class="col-sm-12">
        <h4>Draw cards</h4>
        <input class="col-sm-5" type="text" id ="numberofcards" />
        <button  class="col-sm-5" id="drawcards">Draw</button>
    </div>
    <div class="col-sm-12">
        <a id="resetcards">Reset Game</a>
    </div>
</div>
    